@font-face{
    font-family: Fredoka;
    src: url('../assets/fonts/FredokaOne-Regular.ttf');
}

.plan{
    background-color:  #F38665;
}

.header-text{
    font-family: Fredoka;
    color: rgb(51, 113, 160);
    text-align: left;
    position: absolute;
    top: 8px;
    left: 270px;
}

.header-image{
    max-width: 100px;
    max-height: 11px;
}

.title-text{
    font-family: Fredoka;
    color: white;
    font-size: 18pt;
}