@font-face{
    font-family: Fredoka;
    src: url('../assets/fonts/FredokaOne-Regular.ttf');
}
@font-face{
    font-family: Roboto;
    src: url('../assets/fonts/roboto-bold.ttf');
}
@font-face{
    font-family: Roboto-light;
    src: url('../assets/fonts/roboto-light.ttf');
}

.plan{
    background-color:  #F38665;
}

.header-text{
    font-family: Fredoka;
    color: rgb(51, 113, 160);
    text-align: left;
    position: absolute;
    top: 8px;
    left: 270px;
}

.extra-text{
    font-family: Roboto-light;
    color: white;
    font-size: 14pt;
}

.header-image{
    max-width: 100px;
    max-height: 11px;
}

.title-text{
    font-family: Fredoka;
    color: white;
    font-size: 18pt;
}

.white-border {
    float: none;
    clear: both;
    width: 100%;
    height: 100px;
    padding-bottom: 15px;
    padding-top: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    text-align: left;
}

.innerText{
    display: inline;
    font-family: Roboto;
    font-size: 12pt;
    color: #1A659E;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:0;
    padding-bottom: 10px;
    vertical-align: top;
    align-content: left;
}

.checkbox{
    width: 20%;
    max-width: 35px;
    max-height: 35px;
    min-width: 35px;
    min-height: 35px;
    display: inline-block;
    align-content: left;
    clear: both;
    position: relative;
    background-color: #ffffff;
    font-family: Fredoka;
    font-size: 12pt;
    color: #1A659E;
    vertical-align: bottom;
}

.below{
    display: inline-block; 
    align-content: left; 
    clear: both;
    position:relative;
    background-color: white;
    font-family: Roboto-light;
    font-size: 12pt;
    color: #1A659E;
    padding-left: 50px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top:5px;
}