@font-face{
    font-family: Fredoka;
    src: url('../assets/fonts/FredokaOne-Regular.ttf');
}

.plan{
    background-color:  #F38665;
}

.header-text{
    font-family: Fredoka;
    color: rgb(51, 113, 160);
    text-align: left;
    position: absolute;
    top: 8px;
    left: 270px;
}

.header-image{
    max-width: 100px;
    max-height: 11px;
}

.title-text{
    font-family: Fredoka;
    color: white;
    font-size: 18pt;
}

.white-border {
    float: none;
    clear: both;
    width: 100%;
    padding-bottom: 15px;
    padding-top: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    text-align: left;
}

.inner{
    display: inline;
    align-content: left;
    clear: both;
    position: relative;
    background-color: #ffffff;
    font-family: Fredoka;
    font-size: 16pt;
    color: #1A659E;
    padding-left: 15px;
}

.checkbox{
    width: 50%;
    margin: 0 auto;
    max-width: 30px;
    max-height: 30px;
}