@font-face{
    font-family: Fredoka;
    src: url('../assets/fonts/FredokaOne-Regular.ttf');
}

.home-buttons{
    text-align: center;
}

.buttons{
    text-align: center;
    display: block;
    font-family: Fredoka;
    color: white;
}

