@font-face{
    font-family: Fredoka;
    src: url('../assets/fonts/FredokaOne-Regular.ttf');
}

.youth{
    background-color:  #F1683F;
}

.header-text{
    font-family: Fredoka;
    color: rgb(51, 113, 160);
    text-align: left;
    position: absolute;
    top: 8px;
    left: 270px;
}

.header-image{
    max-width: 100px;
    max-height: 11px;
}

.title-text{
    font-family: Fredoka;
    color: white;
    font-size: 18pt;
}

.name-text{
    font-family: Fredoka;
    color: rgb(51, 113, 160);
    font-size: 12pt;
}
.white-border {
    padding-bottom: 5px;
    padding-top: 10px;
    padding-left: 15px;
    border-radius: 10px;
    background-color: #ffffff;
}

page-video-single {
    .videowrapper {
        float: none;
        clear: both;
        width: 100%;
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 0px;
        height: 0;
        background-color: #ffffff;
    }
    .videowrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}