.rights{
    background-color:  rgb(242, 242, 217)
}

.header-text{
    font-family: Fredoka;
    color: rgb(51, 113, 160);
    text-align: left;
    position: absolute;
    top: 8px;
    left: 270px;
}
